@import "tailwindcss";

@layer components {
  .card {
    @apply border border-(--color-accent-primary) rounded-[10px] inset-shadow-sm inset-shadow-white/30 shadow-white p-5 m-2.5 text-center max-w-[250px] inline-block;
  }

  .card .card-image {
    @apply max-w-[60%] h-auto rounded-[50%] mb-2.5;
  }

  .card .card-title {
    @apply font-[Arial,sans-serif] m-0 text-(--item-text);
  }

  .card .card-text {
    @apply font-[Arial,sans-serif] text-(--item-text);
  }
}
