@import "tailwindcss";

@layer components {
  .site-footer {
    @apply w-full text-sm bg-(--color-bg) border-b border-b-(--surface-border);
  }

  .footer-container {
    @apply max-w-7xl mx-auto px-4 py-4 flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between sm:gap-6;
  }

  .footer-brand {
    @apply flex items-center gap-2 text-(--color-text) font-semibold text-sm sm:text-base;
  }

  .footer-brand span {
    @apply text-[15px] pl-4 w-auto;
  }

  .footer-nav {
    @apply flex items-center;
  }

  .footer-links {
    @apply flex flex-wrap items-center justify-center pr-5 sm:justify-end gap-x-4 gap-y-1 text-(--color-muted) text-xs sm:text-sm mt-1 sm:mt-0;
  }

  .footer-links li {
    @apply hover:text-(--color-accent-primary) transition-colors;
  }

  .footer-legal {
    @apply text-(--color-muted) text-sm text-center sm:text-left mt-2 sm:mt-0;
  }
}
