@import "tailwindcss";

@layer components {
  .catalog-section {
    @apply mt-8 bg-(--color-bg) shadow-xl rounded-2xl p-8 border-[3px];
  }

  .movies-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
  }

  .movie-card {
    @apply rounded-lg p-4 transition bg-(--surface) border-[3px] border-black hover:border-(--color-accent-primary) hover:shadow-lg hover:border-3;
  }

  .movie-poster {
    @apply h-40 rounded-md mb-3 flex items-center justify-center bg-(--item-bg) text-(--item-text);
  }

  .movie-title {
    @apply text-lg font-medium text-(--color-text);
  }

  .catalog-section figcaption {
    @apply mt-2 text-(--item-text);
  }

  .movie-desc {
    @apply text-sm mt-1 text-(--color-muted);
  }

  .movie-rating {
    @apply text-sm font-semibold mt-2 text-(--color-accent-secondary);
  }
}
