@import "tailwindcss";

@layer base {
  /* Layout geral */
  .about-page {
    @apply min-h-screen pt-20 pb-24 bg-(--color-bg) text-(--color-text);
  }

  .hero-title {
    @apply text-3xl font-bold text-(--color-accent-primary) mb-2;
  }

  .hero-desc {
    @apply text-base text-(--color-muted);
  }

  .about-mission h2,
  .about-team h2,
  .about-contact h2,
  .section-title2 {
    @apply text-xl font-semibold mb-4 text-(--color-accent-primary);
  }

  .about-team {
    @apply mb-40;
  }
  .about-hero,
  .about-contact,
  .about-team,
  .about-mission {
    @apply max-w-6xl mx-auto px-4;
  }
  .about-mission {
    @apply mb-20;
  }

  .about-contact {
    @apply mb-0;
  }

  .about-hero {
    @apply mb-20;
  }

  .about-mission p,
  .about-contact p {
    @apply text-base text-(--color-muted);
  }

  .team-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-0;
  }

  .about-contact a {
    @apply underline text-(--color-accent-secondary);
  }
}
