@import "tailwindcss";

@layer base {
  .about-page {
    @apply min-h-screen pt-18 pb-24 text-(--color-text);
  }

  .hero-title {
    @apply text-3xl font-bold text-(--color-accent-primary) mb-4;
  }

  .hero-desc {
    @apply text-xl text-(--color-text);
  }

  .about-mission h2,
  .about-team h2,
  .about-contact h2,
  .section-title {
    @apply text-2xl font-bold mb-4 text-(--color-accent-primary);
  }

  .about-hero,
  .about-contact,
  .about-team,
  .about-mission {
    @apply max-w-6xl mx-auto border-[3px] bg-(--color-bg) shadow-xl rounded-2xl p-3;
  }

  .about-hero {
    @apply mb-20;
  }

  .about-mission {
    @apply mb-20;
  }

  .about-team {
    @apply mb-20;
  }

  .about-mission p,
  .about-contact p {
    @apply text-xl text-(--color-text);
  }

  .team-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-0;
  }

  .about-contact a {
    @apply underline text-xl text-(--color-accent-secondary);
  }
}
