@import "tailwindcss";

@layer base {
  .cadastrar-page {
    @apply min-h-screen pb-20 flex items-center justify-center;
  }

  .cadastrar-container {
    @apply bg-(--color-bg) shadow-xl rounded-2xl w-[500px] h-auto p-8 flex flex-col items-center;
  }

  .cadastrar-title {
    @apply text-2xl font-bold text-(--color-text) mb-6 text-center;
  }

  .cadastrar-form {
    @apply w-full flex flex-col gap-10;
  }

  .form-group {
    @apply flex flex-col gap-1;
  }

  .form-label {
    @apply text-xl text-(--color-text) font-semibold;
  }

  .form-input {
    @apply border font-medium text-(--color-text) border-(--surface-border) rounded-lg p-4 focus:outline-none focus:ring-2 focus:ring-(--color-accent-primary) transition;
  }

  .btn-primary {
    @apply w-full bg-(--color-accent-primary) font-bold text-(--color-text) py-2 rounded-lg mt-16 hover:bg-blue-600 transition;
  }
}
