@import "tailwindcss";

@layer base {
    .movie-detail-page {
        @apply min-h-screen flex justify-center pt-18 pb-24 text-(--color-text);
    }

    .movie-detail-section {
        @apply  max-w-6xl mx-auto border-[3px] shadow-xl rounded-2xl p-4 flex-col bg-black h-auto flex justify-evenly items-start gap-8;
    }

    .movie-detail-content {
        @apply flex md:flex-row justify-between items-start gap-8 w-full;
    }

    .movie-detail-title {
        @apply w-full text-3xl font-bold text-center text-(--color-accent-primary);
    }

    .movie-detail-card {
        @apply w-full md:w-[45%] flex justify-center items-center;
    }

    .movie-detail-card img {
        @apply w-full h-auto rounded-xl border border-(--surface-border) shadow-lg;
    }

    .movie-detail-poster {
        @apply p-1;
    }

    .movie-detail-desc {
        @apply w-full md:w-[50%] text-xl leading-relaxed text-(--color-text);
    }

    .movie-detail-actions {
        @apply flex w-full justify-center gap-4 ;
    }

    .movie-detail-btn {
    @apply px-4 py-2 rounded-md border border-(--color-accent-primary)
    text-(--color-accent-primary) hover:bg-(--color-accent-primary)
    hover:text-black transition-all duration-200;
  }
}