@import "tailwindcss";

@layer base {
    .movie-detail-page {
        @apply min-h-screen flex justify-center p-8;
    }

    .movie-detail-section {
        @apply bg-black h-auto flex justify-between items-start gap-8;
    }

    .movie-detail-card {
        @apply w-[45%] flex flex-col items-center ml-3 p-4;
    }

    .movie-detail-card img {
        @apply w-full h-auto rounded-xl
    }

    .movie-detail-title {
        @apply text-center text-2xl p-1 mb-4;
    }

    .movie-detail-poster {
        @apply p-1;
    }

    .movie-detail-poster figcaption {
        @apply p-4;
    }

    .movie-detail-desc {
        @apply w-1/2 text-xl;
    }
}