@import "tailwindcss";

@layer base {
  .home-page {
    @apply min-h-screen pt-18 pb-24 text-(--color-text);
  }

  .home-container {
    @apply max-w-6xl mx-auto px-4;
  }

  .header-spacer {
    @apply h-16 border-b border-b-(--surface-border);
  }

  .footer-spacer {
    @apply h-20 border-t border-t-(--surface-border);
  }

  .section-title {
    @apply text-xl font-semibold mb-4 text-(--color-accent-primary);
  }

  .section-carousel,
  .search-section {
    @apply bg-(--color-bg) border-[3px] shadow-xl rounded-2xl;
  }

  .section-carousel {
    @apply p-2 flex flex-col;
  }

  .search-section {
    @apply mt-8 p-3;
  }

  .search-input {
    @apply w-full rounded-md py-2 px-3 focus:outline-none focus:ring-2
    bg-(--color-bg) border border-(--color-accent-primary) text-(--color-text)
    placeholder:text-(--color-muted) focus:ring-(--color-accent-primary);
  }

  .carousel {
    @apply flex overflow-hidden rounded-lg border border-(--surface-border) bg-(--surface) justify-items-center;
  }
}
