@import "tailwindcss";

@layer base {
  .login-page {
    @apply min-h-screen pb-20 flex items-center justify-center;
  }

  .login-container {
    @apply bg-(--color-bg) shadow-xl rounded-2xl w-[500px] h-auto p-8 flex flex-col items-center;
  }

  .login-title {
    @apply text-2xl font-bold text-(--color-text) mb-6 text-center;
  }

  .login-form {
    @apply w-full flex flex-col gap-10;
  }

  .form-group {
    @apply flex flex-col gap-1;
  }

  .form-group .form-label {
    @apply text-xl text-(--color-text) font-semibold;
  }

  .form-input {
    @apply border font-medium text-(--color-text) border-gray-300 rounded-lg p-4 focus:outline-none focus:ring-2 focus:ring-(--color-accent-primary) transition;
  }

  .btn-primary {
    @apply w-full bg-(--color-accent-primary) text-(--color-text) py-2 rounded-lg mt-16 font-medium hover:bg-blue-600 transition;
  }

  .link {
    @apply mt-4 font-bold text-xl text-(--color-accent-primary) hover:underline hover:text-blue-600 hover:text-shadow-xs transition;
  }

  .forgot-link {
    @apply mt-2 text-end text-(--color-accent-secondary) hover:underline hover:text-green-600 hover:text-shadow-xs transition;
  }
}
