@import "tailwindcss";

@layer base {
  .login-page {
    @apply min-h-screen pt-18 pb-20 flex items-center justify-center;
  }

  .login-container {
    @apply w-full max-w-md sm:max-w-lg md:max-w-xl bg-(--color-bg) shadow-xl rounded-2xl p-6 sm:p-8 flex flex-col items-center;
  }

  .login-title {
    @apply text-2xl font-bold text-(--color-text) mb-6 text-center;
  }

  .login-form {
    @apply w-full flex flex-col gap-6;
  }

  .form-group {
    @apply flex flex-col gap-1;
  }

  .form-group .form-label {
    @apply text-xl text-(--color-text) font-semibold;
  }

  .form-input {
    @apply border font-medium text-(--color-text) border-(--surface-border) rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-(--color-accent-primary) transition;
  }

  .btn-primary {
    @apply w-full bg-(--color-accent-primary) text-(--color-text) py-2 rounded-lg mt-8 sm:mt-16 font-medium hover:bg-blue-600 transition;
  }

  .link {
    @apply mt-4 font-bold text-lg text-(--color-accent-primary) hover:underline;
  }

  .forgot-link {
    @apply mt-2 text-end text-(--color-accent-secondary) hover:underline;
  }
}
