@import "tailwindcss";

:root {
  --color-bg: #1d1d1e;
  --color-text: #c5c2ca;

  --color-accent-primary: #3b82f6;
  --color-accent-secondary: #22c55e;
  --color-accent-tertiary: #ffd230;

  --color-muted: rgba(255, 255, 255, 0.7);
  --surface: rgba(255, 255, 255, 0.05);
  --surface-border: rgba(255, 255, 255, 0.1);
  --item-bg: rgba(0, 0, 0, 0.4);
  --item-text: rgba(255, 255, 255, 0.7);
}

:root[data-theme="dark"] {
  --color-bg: #1d1d1e;
  --color-text: #c5c2ca;

  --color-accent-primary: #3b82f6;
  --color-accent-secondary: #22c55e;
  --color-accent-tertiary: #ffd230;

  --color-muted: rgba(255, 255, 255, 0.7);
  --surface: rgba(255, 255, 255, 0.05);
  --surface-border: rgba(255, 255, 255, 0.1);
  --item-bg: rgba(0, 0, 0, 0.4);
  --item-text: rgba(255, 255, 255, 0.7);
}

:root[data-theme="light"] {
  --color-bg: #c5c2ca;
  --color-text: #1d1d1e;

  --color-accent-primary: #2563eb;
  --color-accent-secondary: #16a34a;
  --color-accent-tertiary: #c7850c;

  --color-muted: rgba(0, 0, 0, 0.6);
  --surface: rgba(0, 0, 0, 0.04);
  --surface-border: rgba(0, 0, 0, 0.12);
  --item-bg: rgba(255, 255, 255, 0.7);
  --item-text: rgba(0, 0, 0, 0.75);
}

html,
body {
  @apply min-h-screen bg-linear-to-br from-(--color-accent-primary) to-(--color-accent-secondary) text-(--color-text) font-[Arial,sans-serif] overflow-x-hidden;
}
